<!DOCTYPE html>
<html>
<head>
  <title>WordApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenMax.min.js"></script>
</head>
<body>
	
	<%= render partial: "shared/user_header" %>
	
	<%= yield %>

</body>
</html>
